*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.output{
    width: 300px;
    height: 70px;
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
    font-size: xx-large;
    border: 1px solid gray;
}

.smallBtns{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.btn{
    width: 75px;
    height: 75px;
    cursor: pointer;
}
.big-btn{
    width: 148px;
    height: 70px;
    margin-top: 2px;
}